USE [master]
GO
/****** Object:  Database [jakartaJPASample]    Script Date: 06/09/2026 5:54:09 pm ******/
CREATE DATABASE [jakartaJPASample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jakartaJPASample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.PHUONGTRANG\MSSQL\DATA\jakartaJPASample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jakartaJPASample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.PHUONGTRANG\MSSQL\DATA\jakartaJPASample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jakartaJPASample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jakartaJPASample]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 06/09/2026 5:54:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[categoryId] [int] IDENTITY(1,1) NOT NULL,
	[categoryname] [nvarchar](255) NULL,
	[images] [nvarchar](255) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 06/09/2026 5:54:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](7) NULL,
	[description] [nvarchar](max) NULL,
	[images] [nvarchar](255) NULL,
	[price] [float] NULL,
	[productName] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[categoryId] [int] NOT NULL,
	[sold] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/09/2026 5:54:09 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [datetime2](7) NULL,
	[email] [nvarchar](255) NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[otpCode] [nvarchar](10) NULL,
	[otpExpiry] [datetime2](7) NULL,
	[password] [nvarchar](255) NOT NULL,
	[status] [int] NULL,
	[role] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([categoryId], [categoryname], [images], [status]) VALUES (1, N'Quần áo nam', N'', 0)
INSERT [dbo].[categories] ([categoryId], [categoryname], [images], [status]) VALUES (2, N'Quần áo nữ', N'', 0)
INSERT [dbo].[categories] ([categoryId], [categoryname], [images], [status]) VALUES (3, N'Phụ kiện', N'', 0)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([productId], [createdAt], [description], [images], [price], [productName], [quantity], [categoryId], [sold]) VALUES (1, CAST(N'2026-09-01T13:02:49.5075563' AS DateTime2), N'CHẤT LIỆU 64% COTTON 36% TENCEL ĐỊNH LƯỢNG 180GSM

FORM BOXY 

HÌNH IN LOGO KÉO LỤA TRƯỚC NGỰC', N'products/1788242562163_triple_striped_tee.png', 400000, N'TRIPLE STRIPED T-SHIRT - BLUE', 10, 1, 793)
INSERT [dbo].[products] ([productId], [createdAt], [description], [images], [price], [productName], [quantity], [categoryId], [sold]) VALUES (2, CAST(N'2026-09-01T13:06:44.7204100' AS DateTime2), N'CHẤT LIỆU 64% COTTON 36% TENCEL ĐỊNH LƯỢNG 180GSM

FORM BOXY 

HÌNH IN LOGO KÉO LỤA TRƯỚC NGỰC', N'products/1788242802583_pink_triple_striped_tee.png', 400000, N'TRIPLE STRIPED T-SHIRT - PINK', 10, 1, 732)
INSERT [dbo].[products] ([productId], [createdAt], [description], [images], [price], [productName], [quantity], [categoryId], [sold]) VALUES (3, CAST(N'2026-09-01T13:08:10.8658067' AS DateTime2), N'CHẤT LIỆU COTTON XƯỢC ĐỊNH LƯỢNG 170GSM

FORM REGULAR FIT

HÌNH IN KÉO LỤA TRƯỚC NGỰC', N'products/1788242888567_regularfit01.png', 400000, N'HEART REGULAR FIT T-SHIRT', 50, 2, 446)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([userId], [createdAt], [email], [fullname], [otpCode], [otpExpiry], [password], [status], [role]) VALUES (1, CAST(N'2026-08-31T16:41:15.6649452' AS DateTime2), N'tranthiphuongtrang2711@gmail.com', N'Phương Trang', NULL, NULL, N'50153bf4e63ec7129aadd65124c25c9ebdcdd5bcc936237b94d1609159b10e5a', 1, N'admin')
INSERT [dbo].[users] ([userId], [createdAt], [email], [fullname], [otpCode], [otpExpiry], [password], [status], [role]) VALUES (2, CAST(N'2026-09-02T17:42:05.7501003' AS DateTime2), N'miwowi9748@slotbeer.com', N'Nguyen Nam', NULL, NULL, N'90a0290fc03bade1e5cfc0e499bbe14e5c3761d6234d83e2ce2f8c9d050b1185', 1, N'user')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_categories_categoryname]    Script Date: 06/09/2026 5:54:09 pm ******/
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [UQ_categories_categoryname] UNIQUE NONCLUSTERED 
(
	[categoryname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 06/09/2026 5:54:09 pm ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKej2ob3ifydf846t2a2tntna4e] FOREIGN KEY([categoryId])
REFERENCES [dbo].[categories] ([categoryId])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKej2ob3ifydf846t2a2tntna4e]
GO
USE [master]
GO
